.container {
  width: 660px;
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
}

.pillar {
  width: 20px;
  height: 600px;
  background: gray;
  margin-right: 300px;
  float: left;
  position: relative;
  cursor: pointer;
}

.right {
  margin-right: 0;
}

.inner {
  width: 300px;
  height: 600px;
  left: -140px;
  position: absolute;
}
.wrap {
  position: absolute;
  bottom: 0;
}

.item {
  width: 300px;
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
}

.selected {
  border: 5px solid #D75447;
}

.green {
  background: #7ED72A;
}

.pink {
  background: #D75F97;
}

.brown {
  background: #602E13;
}

.yellow {
  background: #CEC53F;
}

.blue {
  background: #3FA79A;
}

.purple {
  background: #7640A7;
}

.orange {
  background: #BE4F12;
}

.gray {
  background: #A790AA;
}